@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  /* background-color: #0c0a09; */
  background-color: #0f0c0b;
}











/* to make navbar fixed */

body > div:first-child,         
.app,
.hero,
.explore-menu,
.food-display {
  padding-top: 42px;         
}

/* .hero {
  padding-top: 130px;            
} */


@media (max-width: 768px) {
body > div:first-child,         
.app,
.hero,
.explore-menu,
.food-display {
  padding-top: 40px;            
}
}

@media (max-width: 480px) {
body > div:first-child,          
.app,
.hero,
.explore-menu,
.food-display {
  padding-top: 40px;         
}
}


@media (min-width: 769px) and (max-width: 1024px) {
body > div:first-child,          
.app,
.hero,
.explore-menu,
.food-display {
  padding-top: 40px;           
}
}


@media (min-width: 1441px) {
body > div:first-child,        
.app,
.hero,
.explore-menu,
.food-display {
  padding-top: 40px;           
}
}

/* to make navbar fixed */









a{
  text-decoration: none;
  color: inherit;
}

/* .app{
  width: 80%;
  margin: auto;
} */

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}