/* .header-container {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-banner {
  width: 80%;
  height: 34vw;

  background: url("/header_imgg.jpg") no-repeat;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .header-banner {
    width: 80%;
    height: 50vw;
  }
} */
