.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    margin: auto;
    /* margin-top: 22px; */
    padding-top: 15px;
}
.explore-menu h1{
    color: #00d9ff;
    font-weight: 300;
    font-size: 27px;
}

.explore-menu h1 span{
    color: #ffffff;
}
.explore-menu-text{
    max-width: auto;
    /* columns: #808080; */
    /* color: #9e9c9c; */
    color: #dfdddd;
    text-align: justify;

}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    text-align: center;
    /* margin: 20px 0px; */
    padding-top: 15px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    /* border: 2px solid #ff2600; */
    /* border: 2px solid rgb(161, 161, 161); */
}

.explore-menu-list-item p{
    margin-top: 10px;
    /* color: #9c9a9a; */
        /* color: #cecece; */
            color: #00d9ff;
    font-size: max(1.4vw,16px);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explore-menu hr{
    /* margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none; */
  width: 100%;
  height: 1px;
  margin: 30px 0 27px;
  background: linear-gradient(to right, transparent, #707070, transparent);
  border: none;

}

/* want to use border in p without image */

.explore-menu-list-item p{
    background: #000000;
    border: 2px solid #505050;
    border-radius: 6px;
    padding: 10px;
}


.explore-menu-list-item .active{
    border: 2px solid #447a83;
}

/* want to use border in p without image */


/* .explore-menu-list-item .active{
    border: 2px solid #274347;
    padding: 2px;
} */

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}